@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  color: white;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.App {
  min-height: 100vh;
  display: flex;

}

.sideBar {
  flex: 3;
  border-right: 1px solid white;
}

.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
}

.brand {
  font-size: 2rem;
  
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid white;
  height: 70%;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.midBtn {
  background-color: #ff4500;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  width: 25rem;
  margin: 1rem auto;
  border-radius: .5rem;
  border: 1px solid white;
  padding: 1.5rem;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 500;
}

.query>img {
  margin-right: 2rem;
  object-fit: cover;
}

.lowerSide {
  padding: 2.5rem;
}

 .listItems {
    margin: 1rem;
    display: flex;
    align-self: center;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .listItemsImg {
    margin: 1rem;
    padding-right: 2rem;
  }

  .main {
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .inp {
    
  }